

.TakleTimes{
    font-size: 40px;
    text-align: center;
}

.All-Teams {
    max-width: 100%; /* Adjust the max width as needed */
    margin: 0 auto; /* Center the content horizontally */
}

.teams {
    display: flex;
    flex-wrap: wrap;
}

.favoriteTeam {
    width: 25%; /* 25% width for 4 columns in a row */
    box-sizing: border-box; /* Include padding and border in the width */
    padding: 10px; /* Add spacing between images as needed */
    text-align: center; /* Center the images horizontally */
}

.favoriteTeam img {
    width: 400px; /* Set the desired width */
    height: 400px; /* Set the desired height */
    border-style: solid;
    border-radius: 50%;
    transition: all 0.3s; /* Add a smooth transition effect */
 }

 .favoriteTeam:hover img {
    width: 420px; /* Set the larger width on hover */
    height: 420px; /* Set the larger height on hover */
}

 .discription{
    text-align: center;
 }

