<div class="discription">
    <h1 class="">Choose your <span class="highlighted-text">FAVORITE</span> teams to access their <span
            class="highlighted-text">SCHEDULES,</span> <span class="highlighted-text">VENUES,</span> <span
            class="highlighted-text">BROADCASTING INFORMATION,</span> and ticket <span class="highlighted-text">PURCHASE
            OPTIONS!</span></h1>
</div>
<div class="footballplayer">
    <img src="./Nfl logos/Football player (1).png" alt="">
</div>

<div class="page-container">
    <video autoplay loop muted playsinline id="background-video">
        <source src="Nfl logos/Liam Mullany-football-players-practicing-in-a-stadium-342383-filmsupply.mp4"
            type="video/mp4">
    </video>

    <div class="next-btn">
        <a href="./myfavoriteteams.html" class="myButton" id="nextButton" style="display: none;">Next</a>
    </div>

    <!-- Use Handlebars templates for teams -->


    <div class="All-Teams">
        <div class="teams">
            <!-- Include Handlebars content here -->
            <div class="NflTeams">
                <img id="{{id}}" src="{{imageSrc}}" alt="{{altText}}" onclick="toggleBackground(this)">
            </div>
        </div>
    </div>
</div>
<!-- Include Handlebars library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
<!-- Include your Handlebars script here -->

{{!-- <script src="./css-js/favoritesSecltionPage.js"></script> --}}