<h3>Choice one of your favorite teams to see when and where they play along with where to get your tickets!</h3>

<div class="next-btn">
    <a href="#" class="myButton" id="nextButton" style="display: none;">Next</a>
</div>

<div class="MyFavTeam">
    <div class="box">
        <h2>My Favorite Teams</h2>
    </div>

    <div class="box">
        <h2>Calendar</h2>
    </div>
</div>

<div class="allTeams">
    <div class="row" id="teamList">
        {{#each teams}}
        <div class="favoriteTeam">
            <img id="{{id}}" src="{{imageSrc}}" alt="{{altText}}" onclick="toggleBackground(this)">
        </div>
        {{/each}}
    </div>
</div>



{{!-- <script src="css-js/myFavotiteTeams.js"></script> --}}