:root {
    --primary: #3d5852;
    --secondary: #86938f;
    --tertiary: #5e877f;
    --quatrinary: #6c6b67;
    --light: #e3e4e3;
    --dark: #182c23;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
}

body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--quatrinary);
}

a {
    color: var(--dark);
    text-decoration: none;
}

a:visited {
color: inherit;
}

header {
    padding: 40px;
    text-align: center;
    background: var(--primary);
    color: var(--light);
}

nav {
    display: flex;
    background-color: var(--secondary);
}

nav a {
    color: var(--light);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    color: var(--secondary);
    background-color: var(--dark);
}

  /* CARDS */

.login-card {
    margin: 0 0 20px 0;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 5px;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
    border-style: double;
    border-width: thick;
    background-color: #577a7c;
    color: var(--light);
}