@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@1,6..12,900&family=Staatliches&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    background-color: lightgrey;
}
.takle{
    color: red;
    font-size: 100px;
    text-shadow: 1px 1px 1px #000000,
    1px 2px 1px white,
    1px 3px 1px white,
    1px 4px 1px blue,
    1px 5px 1px blue,
    1px 6px 1px blue,
    1px 10px 5px rgba(16, 16, 16, 0.5),
    1px 15px 10px rgba(16, 16, 16, 0.4),
    1px 20px 30px rgba(16, 16, 16, 0.3),
    1px 25px 50px rgba(16, 16, 16, 0.2);
}
.time{
    color: white;
    font-size: 100px;
    text-shadow: 1px 1px 1px #000000,
    1px 2px 1px red,
    1px 3px 1px red,
    1px 4px 1px blue,
    1px 5px 1px blue,
    1px 6px 1px blue,
    1px 10px 5px rgba(16, 16, 16, 0.5),
    1px 15px 10px rgba(16, 16, 16, 0.4),
    1px 20px 30px rgba(16, 16, 16, 0.3),
    1px 25px 50px rgba(16, 16, 16, 0.2);
}

.TakleTimes{
    position: relative;
    font-size: 100px;
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    animation: glitch 4s linear infinite;
}
.takle, .time {
    position: relative;
    display: inline-block; 
}
@keyframes glitch{
  2%, 64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%, 60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

.TakleTimes:before,
.takle::before, .takle::after,
.time::before, .time::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes glitchTop{
  2%, 64%{
    transform: translate(2px,-2px);
  }
  4%, 60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

.TakleTimes:after{
  animation: glitchBotom 5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  bottom: 0;
}

@keyframes glitchBotom{
  2%, 64%{
    transform: translate(-2px,0);
  }
  4%, 60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}


.MyFavTeam {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    align-items: center; 
    max-width: 1424px;
    margin: auto;
    gap: 20px; 
}

.box {
    padding: 20px;
    width: calc(33% - 40px); 
    box-shadow: 1px 1px 1px #000000,
    1px 2px 1px red,
    1px 3px 1px red,
    1px 4px 1px blue,
    1px 5px 1px blue,
    1px 6px 1px blue,
    1px 10px 5px rgba(16, 16, 16, 0.5),
    1px 15px 10px rgba(16, 16, 16, 0.4),
    1px 20px 30px rgba(16, 16, 16, 0.3),
    1px 25px 50px rgba(16, 16, 16, 0.2);
    border-radius: 10px;
    margin-bottom: 20px; 
    transition: backroungd-color, box-shadow 1s ease-in-out;
}
.box:hover {
    background-color: rgba(255, 255, 255, 0.356);
    border: 0px;
    box-shadow: 
        1px 1px 1px #000000,
        1px 2px 1px lime,
        1px 3px 1px lime,
        1px 4px 1px magenta,
        1px 5px 1px magenta,
        1px 6px 1px cyan,
        1px 10px 5px rgba(16, 255, 16, 0.5),
        1px 15px 10px rgba(255, 16, 255, 0.4),
        1px 20px 30px rgba(16, 255, 255, 0.3),
        1px 25px 50px rgba(255, 16, 16, 0.2);
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
  
}

p {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}

* {
  cursor: url(https://cur.cursors-4u.net/sports/spo-1/spo37.ani), 
          url(https://cur.cursors-4u.net/sports/spo-1/spo37.png), 
          auto !important;
}

.All-Teams {
  max-width: 100%; /* Adjust the max width as needed */
  margin: 0 auto; /* Center the content horizontally */
}

.teams {
  display: flex;
  flex-wrap: wrap;
}

.favoriteTeam {
  width: 25%; /* 25% width for 4 columns in a row */
  box-sizing: border-box; /* Include padding and border in the width */
  padding: 10px; /* Add spacing between images as needed */
  text-align: center; /* Center the images horizontally */
  z-index: 2;
}




.favoriteTeam img {
  width: 250px; /* Set the desired width */
  height: 250px; /* Set the desired height */
  border-radius: 50%; /* Make the images circular */
  border: 2px solid black; /* Add a border */
}
.favoriteTeam img:hover {
  background-color: lightgreen;
}

 
.favoriteTeam img.active {
  background-color: lightgreen;
}

.favoriteTeam:hover {

  border-radius: 50%;
  
}



.allTeams {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; /* Add margin between rows as needed */
}


h3 {
  font-size:40px;
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  margin-bottom: 20px;
}


.myButton {
	box-shadow: 4px 3px 4px 0px #3dc21b;
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:27px;
	font-weight:bold;
	font-style:italic;
	padding:19px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    position: absolute;
    right: 20px; /* Adjust the right value as needed */
    top: 90%; /* Adjust the top value if you want to vertically center it */
    transform: translateY(-50%); /* Vertically center the button */
    z-index: 20;
}
.myButton:hover {
	background-color:#74db3d;
}
 .myButton:active {
	background-color:#74db3d;
    border-radius: 50%;
} 

.selected img {
  background-color: lightgreen;
}
